// widths
$main_container_width: 1440px;
$main_container_width--medium: 875px;

// Colors
$primary:      #947BEF;
$cta:          #ED5AAB;
$black:        #000000 !default;

$grey:         #747483;
$grey-light:   #EEEEF3;
$grey-lighter:  #F9F8FC;
$grey-lightest:  #faf9fd;
$white:         #ffffff;

$orange:       #F48E1F !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        #00C09C !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$cyan:         hsl(204, 86%,  53%) !default;
$blue:         #3C93CA !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;


// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
$family-sans-serif: 'Inter', -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// radius

$radius-4: 4px;
$radius-4-top: 4px 4px 0px 0px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
